body {
    margin: 0;
}

header {
    height: 60px;
    background-color: white;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

nav {
    letter-spacing: 5px;
    padding: 5px;
    float: right;
}

nav li {
    padding: 10px;
    display: inline;
    margin-right: 30px;
    font-size: 15px;
}

nav li:hover {
    background-color: whitesmoke;
}

.center-image img {
    max-width: 100%;
    height: auto;
    width: auto\9;
}

.about {
    margin: 0 auto;
    font-size: 120%;
    width: 75%;
}

.about h1 {
    letter-spacing: 3px;
}